<link href="./style.css" rel="stylesheet" type="text/css">

<h1>WELCOME TO DATABASE MANAGMENT SYSTEM OF OFFICE DATABASE</h1>
<p style="text-align: center;">currently having 2 tables</p>
</br>
</br>
<div class="center">
    <h4><a href="/add">insert employee data</a></br></br></h4>
    <h4><a href="/users">view employee data</a></h4>
</div>



